@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700;800&display=swap');
*{ 
    margin:0;
    padding: 0;
}

body{
    font-family:'Comfortaa', sans-serif;
    font-weight:400;
    color:aliceblue
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wallpaper{
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 1) 50%, rgba(77, 77, 77, 1) 100%);
    width: 100%;
    height: 200%;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.log img{
    z-index: 1;
}

header{
    padding: 50px;
}


header nav{
    float:right;
    width: 50%;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a {
    color:aliceblue

}

header nav ul li a h1:hover {
    border-bottom: 5px solid #DC7000;
}


header nav ul li.active a h1{
    background: #DC7000;
    padding:10px 17px;
    border-radius: 15px;
    transition: all 500ms ease;
}

header nav ul li.active a h1:hover{
    background: #DC1A00;
}

.info h1{
    margin-top: 60px; 
    padding: 35px;
    color:#DC7000;
    font-size: 50px;
    font: weight 600px;;
}
.info h2{
    font-size: 20px;
    font: weight 600px;;
}

.png img{
    position:absolute;
    top:350px;
    right: 0;
    z-index: 1;
}

.sil ul li a{
    padding-top:20px ;
    color:rgb(191, 193, 194)
}

.sil ul li a{
    padding: 40px;
     margin-top: 100px;
}

.log img{
    position:absolute;
    top:0px;
    left: 0;
            
    z-index: 1;

}



.mp3 ul li audio{
    padding-top:100px ;
}
.video video{
    padding-top: 10px;
}

footer {
    background:linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 1) 50%, rgba(77, 77, 77, 1) 100%);
    padding: 50px 0;

}


footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;

}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background-color: #DC7000;
}

footer > p {
    text-align: center;
}